.center {
    display: flex!important;
    height: 100vh;
}

.d-flex {
    margin: 0 auto;
    align-self: center;

}

.game {
    color: cornflowerblue;
    font-size: x-large;
}

.game-info {
    color: cornflowerblue;
    font-size: xx-large;
}

.game-board {
    text-align: center;
    display: flex!important;
}

.board-info {
    margin: 0 auto;
    align-self: center;
}

.board-row {
    align-items: center;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.squareDiv {
    height: 40px;
    width: 40px;
    text-align: center;
    size: auto;
    background-color: blanchedalmond;
    margin: 2px;
}